.Splash-Carousel-Container {
   
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;

    margin: 0 auto;

    
}



.Splash-Carousel-Nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    padding-left: 9vw;
    padding-right: 2vh;
    margin: 0 auto;
    justify-content: center;
    overflow: visible;
    background-color: black;
    
}

.Splash-Carousel-Content {
    display: flex;
    flex-direction: row;
    background-color: black;

}


.Splash-Slide {
    display: flex;
    flex-direction: row;
    padding-left: 2vw;
    padding-right: 20vw;
    justify-content: center;
    align-items: center;
	opacity: 1;
    transition: opacity .2s ease-in;
    background-color: black;

}






.Splash-Carousel-Slide-Text {
    display: inline-block;
    vertical-align: top;
    padding-left: 5vw;
    background-color: black;
    
}

.carosel-nav-items {
    background-color: black;

    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    
    font-family: "Maison Neue", system-ui, -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 36px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: start;
   
    text-transform: none;
    vertical-align: baseline;
    white-space: normal;
    word-spacing: 0px;
    overflow: visible;
    justify-content: flex-end;
}

.Splash-Filler {
    background-color: black;

    width: 10vw;
}

.Splash-Carousel-Nav-Arrow {
    cursor: pointer;
    background-color: black;

    display: flex;
    justify-content: flex-end;
}

.Splash-Carousel-Image {
    background-color: black;
    padding: 20px;
    display: flex;
    height: 65vh;
    
}

.Splash-Carousel-Slide-Text-Title {
    background-color: black;
    font-family: "Maison Neue", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -0.72px;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-decoration: unset;
  
}

.Splash-Carousel-Slide-Text-Description {
    background-color: black;

    font-family: "Maison Neue", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: -0.32px;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-decoration: unset;

}

.Splash-Arrow {
    fill: rgb(255, 255, 255);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}