.Footer-Container {

    background-color: black;
    padding: 5vh 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.Footer-Items {
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
}

.fab {
    padding: 0px 5vw;
    color: white;
    font-size: 3rem;
 }
 
 .fab:hover {
     color: #21ce99;
 }
 


