.homepage-container-night {

        background: var(--bg-color);
        color: var(--color);
    height: 9vh;
    box-sizing: border-box;
}





.homepage-nav-bar {
    box-sizing: border-box;
    display: flex;
    position: fixed;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    width: 100%;
    background: var(--bg-color);
    color: var(--color);
    // overflow: scroll;
    top: 0;
    left: 0;
    height: 8vh;
    // background-color: #1b1b1b;
    z-index: 10;
}



.homepage-nav-list {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding-right: 20px;
    // padding: 20px 2vw 20px 20px;
    // margin-right: -3vw;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    border-bottom: 2px solid transparent;
    font-family: "DIN Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: var(--color);
    text-decoration: unset;
    z-index: 100;
}

// .Nav-Bar-Filler {
//     // padding-left: 15vw;
// }

.homepage-nav-search-bar-block {
    box-sizing: border-box;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    border-radius: 3px; 
}


.homepage-nav-search-icon {
    box-sizing: border-box;
    position: absolute;
    padding-right: 0px;
    margin-left: 10px;
}


.homepage-nav-search-bar {
    box-sizing: border-box;
    justify-content: flex-start;
    padding-left: 3vw;
    background-color: var(--bg-color);
    border-radius: 4px; 
    border: 1px solid #0e0d0d;
    height: 35px; 
    outline: 0;
    width: 20vw; 
}


.homepage-nav-search-bar:hover {
    box-shadow: 0px 0px 30px 2px black;
    transition-timing-function: 0.2 ease-in;
    border: 0px;
    border-radius: 0px;

  
}

.homepage-nav-search-bar::placeholder {
    opacity: 100%;
}

.homepage-nav-search-bar:focus {
    color: white;
    
}

.homepage-nav-search-bar:focus + div {
    display: block;
    z-index: 100;
}


.homepage-nav-placeholder input[type="text"]:hover::placeholder {
    color: white;
}


.homepage-nav-search-bar-block:hover i.fas {
    opacity: 100%;
}


.magnifying-icon-night {
    float: left;
        fill: var(--icon-color);

}

.magnifying-icon-night:hover {
    float: left;

}

i.fas {
    opacity: 100%;
}



.Home-SVG-Logo {
    align-items: flex-start;
    padding-left: 3vw;
    padding-right: 1vw; 
        fill: var(--icon-color);

}

.Home-SVG-Logo:hover {
    fill: #21ce99;
}

.homepage-nav-item-1 {
    box-sizing: border-box;
    margin-right: 2vw;
    padding-bottom: 5px;
    cursor: pointer;
}



.homepage-nav-item-2 {
    box-sizing: border-box;
    padding-bottom: 5px;
    cursor: pointer; 
}

.homepage-nav-separator {
    margin-left: 2vw;
}

[class*='homepage-nav-item']:hover {
    color: #21ce99;
    border-bottom: 1px solid #21ce99;
}



.Home-Body-Container {
    margin-top: 8vh;
    padding: 20px;
    height: auto;
    // width: 100vw; 
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: 20px;
    min-height: 100%;
    // overflow-x: hidden;
    background-color: var(--bg-color);

}

.fa-moon {
    font-size: 2em;
    cursor: pointer;
}

.fa-sun {
    font-size: 2em;
    cursor: pointer;

}


.fa-moon:hover {
    color: #21ce99;
}

.fa-sun:hover {
    color: #21ce99;
}

.homepage-nav-mode {
    padding-right: 10px;
}



