.Main-Container {
    width: 40vw;
    left: 200;
    display: flex;
    flex-direction: column;
    padding-left: 20vw; 
    padding-right: 5vw;
}

.Main-Container-Title {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.29px;
    line-height: 42px;
    margin: 0;   
}


.Main-Container-Chart-Area {
    object-fit: contain;
}

.Main-News-Header {
    padding: 50px 0px;
    font-size: 30px;
    border-bottom: 1px solid white;
}

.Main-News-Container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.Main-News-Single-News {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid white;
    overflow: hidden;
    padding: 20px 5px 20px 5px;
    
}

.Main-News-Single-Source {
    font-size: 16px;
    font-weight: 700;

}

.Main-News-Content-Container {
    display: flex;
    flex-direction: row;
    color: #79858b;
    font-size: 20px;
}

.Main-News-Subcontent {
    display: flex;
    flex-direction: column;
}

.Main-News-Content-Image-Container {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

.Main-News-Content-Image {
    height: 300px;
    width: 300px;
 
}