.Main-Container {
    width: 40vw;
    left: 200;
    display: flex;
    flex-direction: column;
    padding-left: 20vw; 
    padding-right: 5vw;
}

.Main-Container-Title {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.29px;
    line-height: 42px;
    margin: 0;   
}


.Main-Container-Chart-Area {
    object-fit: contain;
}

.Main-News-Header {
    font-size: 30px;
}

.Main-News-Container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.Main-News-Single-News {
    display: flex;
    flex-direction: column;
}

.Main-News-Single-Title {
    font-size: 30px;
}

.Main-News-Content-Container {
    display: flex;
    flex-direction: row;
}

.Main-News-Subcontent {
    display: flex;
    flex-direction: column;
}

.Main-News-Content-Image-Container {
    height: 300px;
    width: 300px;
}

.Main-News-Content-Image {
    height: 300px;
    width: 300px;
}