.Main-Container {
    width: 40vw;
    left: 200;
    display: flex;
    flex-direction: column;
    padding-left: 20vw; 
    padding-right: 5vw;
}

.Main-Container-Title {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.29px;
    line-height: 42px;
    margin: 0;   
}


.Main-Container-Chart-Area {
    object-fit: contain;
}

.Main-News-Header {
    padding: 50px 0px;
    font-size: 30px;
    border-bottom: var(--news-border);
}

.Main-News-Container {
    display: flex;
    flex-direction: column;
    width: 40vw;
}

.Main-News-Single-News {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    // overflow: hidden;
    padding-bottom: 20px;
    background-color: inherit;
}

.Main-News-Single-News:hover {
    background-color: var(--news-hover) !important;
}

.Main-News-Single-Source {
    padding: 20px 0px 10px 20px;
    font-size: 16px;
    font-weight: 700;

}

.Main-News-Content-Container {
    display: flex;
    flex-direction: row;
    color: #79858b;
    font-size: 20px;
    line-height: 1.5;
    padding: 15px;
    
}

.Main-News-Subcontent {
    display: flex;
    flex-direction: column;

}

.Main-News-Title {
    font-size: 18px;
    color: var(--news-title);
    padding-bottom: 10px;
}

.Main-News-Desc {
    font-size: 16px;
    color: #79858b;
}

.Main-News-Content-Image-Container {
    object-fit: cover;
}

.Main-News-Content-Image {
    width: 300px;
    height: auto;
}