.Portfolio-Table {
    width: 100%;

    font-family: Arial, Helvetica, sans-serif;   
}

.Portfolio-Table-Label {
  font-weight: 700;  
  

}

.Portfolio-Box {
    padding: 15px;
    align-items: left;
    border-bottom: 1px solid white;
}

.Portfolio-Container {
    padding-left: 20vw;
    padding-top: 2vh;
}

.Portfolio-Buying {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}