.Portfolio-Table {

    
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

.Portfolio-Table-Label {
  font-weight: 700;  
  

}

.Portfolio-Box {
    padding: 20px;
    align-items: left;
    border-bottom: var(--portfolio-border);
}

.Portfolio-Box-Link {
    padding: 20px;
    align-items: left;
    border-bottom: var(--portfolio-border);
}

.Portfolio-Box-Link:hover {
    color: #21ce99;
    
}


.Portfolio-Container {
    padding-left: 20vw;
    padding-top: 2vh;
    min-height: 72vh;
}

.Portfolio-Buying {
    font-size: 20px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    padding-bottom: 20px;
}

