.Search-Bar-Container {
    overflow: visible;
    width: 23vw;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.Search-Bar-Result-List {
    display: none;
    // background-color: #171718;
    background-color: var(--bg-color);
    position: absolute;
    list-style: none;
    font-family: "DIN Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    border: 0px;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1px;
    color: var(--color);
    text-decoration: unset;
    box-shadow: 0px 1vh 20px 2px black;
    transition-timing-function: 0.2 ease-in;
    width: 23vw;    
    z-index: 100;
}

.recharts-surface {
    z-index: 0;
}

.Search-Bar-Result-List:hover {
    display: block;
}

.Search-Bar-Result-List-Items {
    width: 30vw;
    display: flex;
    flex-direction: row;
    padding-top: 1vh;
    padding-bottom: 1vw;
    text-overflow: ellipsis;


}

.Search-Bar-Result-List-Items:hover {
    color: #21ce99;
}

.Search-Bar-Result-List-Items-Symnbol {
    width: 5vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 2vw;
    padding-right: 4vw;
}

.Search-Bar-Result-List-Items-Name {
    display: inline-block;
    justify-content: flex-start; 
    padding-left: 2vw;
}
