.login-container {
    margin: 0 auto;
    background-color: white;
    width: 60vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: column
}

.login-top {
    display: flex;
    flex-direction: row;
    padding-top: 5vh; 
    padding-bottom: 5vh;
}

.login-top-logo {
    padding-right: 3vw;
}

.login-body {
    display: flex;
    flex-direction: row;
}

.login-top-list {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.login-top-list-items {
    padding-left: 5vw;
    padding-right: 5vw;
    color: #b1bfc4;
    font-size: 18px;
    font-weight: 400; 
    font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
    font-size: 15px;
    line-height: 1.33333;
}

.login-body-form {
    display: flex;
    flex-direction: column;
    width: 60%; 
}


.login-body-form-row-1 {
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.1;
    color: #040d14;
    padding-bottom: 1vh;
}

.login-body-form-row-2 {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.1;
    color: #040d14;
    padding-bottom: 1vh;
}

.login-form-field {
    height: 46px; 
    width: 70%;
    border-radius: 4px;
    border: 1px solid #b1bfc4;
    font-size: 18px; 
    line-height: 24px;
    padding: 0px 12px 0px 15px; 
    color: #f5f7fa; 
}

.login-form-field:focus {

    border: 1px solid red;
    color: black; 
}


.login-body-form-rows {
    padding: 10px 0px 10px 0px;
}

.login-session-button {
    width: 77%;
    height: 46px; 
    padding: 12px 6px; 
    font-size: 18px;
    background-color: #21ce99;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 7px 2px;
    border-radius: 8px;
    box-shadow: 0px; 
    border-color: #21ce99;
}

.login-body-form-existing-user {
    padding-top: 3vh;
    font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
    color: #b1bfc4;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;

}


.login-body-image-container {
  
    height:200px;
    width: 200px; 
 
}


.login-video {
    user-select: none;
    height: 100%;
    width: 100%;
    object-fit: contain;
    z-index: 10;
}

.login-video-text-container {

    font-size: 18px;
    font-weight: 400;
}

.login-video-text-row-1 {
    font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
    text-align: center;
    color: #040d14;
    font-size: 18px;
    font-weight: 400;
    
}
.login-video-text-row-2 {
    font-family: "DIN Web", "Hiragino Sans GB", STXihei, 华文细黑, "Microsoft YaHei", 微软雅黑, sans-serif;
    padding-top: 2vh;
    text-align: center;
    color: #b1bfc4;
    font-size: 18px;
    font-weight: 400;
}

.Login-Error-Text {
    font-family: "DIN Pro", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.1px;
    color: rgb(23, 23, 24);
    text-decoration: unset;
    color: red;
}


.Login-Error_Text-Box {
    height: 2vh; 
}

.error-login-highlight {
    border: 1px solid red; 
}