.Stock-Container {
    width: 600px;

    left: 200;
    display: flex;
    flex-direction: column;
    padding-left: 20vw; 
    padding-right: 5vw;

}

.Stock-Container-Title {
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.29px;
    line-height: 42px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vh;
}

.Stock-Container-Header {
    display: flex;
    flex-direction: column;

}
.Stock-Container-Company-Name {
    padding-top: 2vh;
    align-items: flex-end;
}

.Stock-Container-Company-Price {
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -0.7px;
    line-height: 30px;
}

.Stock-Container-Company-Changes {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
}


.Stock-Container-Chart-Area {
    border-top: 2px dotted grey;
    max-height: 250px;
    max-width:  600px;
}

.Stock-Container-Chart-Navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--portfolio-border);
    margin: 24px 0px 12px;
}

.Stock-Container-Chart-Time {
    display: flex;
    flex-direction: row;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;

}

.Stock-Container-Chart-Expand {
    display: block;
}

.Stock-Container-About {
    padding-top: 4vh;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 30px;
    border-bottom: var(--portfolio-border);
    padding-bottom: 2vh;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

.Stock-Container-Description {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}

.Stock-Container-Company-Info {
    display: flex;
    flex-direction: row;
   
    justify-content: space-between;

    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
}




[class^="Stock-Button"]  {
    background-color: var(--bg-color);
    border: none;
    color: var(--color);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    outline: none;
}

[class^="Stock-Button"]  {
    background-color: var(--bg-color);
    border: none;
    color: var(--color);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    margin: 0px 12px;
    padding: 0px 0px 12px;
    outline: none;
    cursor: pointer;
}

[class^="Stock-Button"]:hover {
    color: #21ce99 !important;
    cursor: pointer;
}

.Stock-Label-Date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
    font-family: "DIN Pro", -apple-system, BlinkMacSystemFont, sans-serif;
    outline: none;
}

.Stock-Main-Util {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Stock-Chart-Active {
    color: #f45531;
    border-bottom: 1px solid #f45531;
    margin-bottom: -1px;
}
