.Transaction-Box-Container {
    display: flex;
    flex-direction: column;
    width: 15vw;

    margin-top: 1vh;
    padding-bottom: 1vh;
    border: var(transaction-border);
    box-shadow: 0px 0px 20px 2px black;

}

.Transaction-Box-Header {
    display: flex;
    margin: 0px 10px 0px 10px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1vh;
    font-weight: 700;
    border-bottom: var(--portfolio-border);
}

.Transaction-Box-Header-Buy {
    color: #21ce99;
 
    cursor: pointer;
}

.Transaction-Box-Errors {
    color: red;
    text-align: center;
    font-size: 20px;
}

.transaction-buy {
    border-width: 0px 0px 2px 0px;
    border-image-source: linear-gradient(to left, transparent 50%, #21ce99 50%);
    border-image-slice: 1;
}

.transaction-sell {
    border-width: 0px 0px 2px 0px;
    border-image-source: linear-gradient(to right, transparent 50%, #f45531 50%);
    border-image-slice: 1;
}


.Transaction-Box-Header-Buy:hover {
    color: #31ce99;
 
}

.Transaction-Box-Header-Sell {
    color: #f45531;
 
    cursor: pointer;
}

.Transaction-Box-Header-Sell:hover {
    color: #f46531;
}

.Transaction-Box-Body {
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
}

[class^="Transaction-Box-Body-Row"] {
    padding: 2vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 13px;

}

.Transaction-Box-Body-Row-3 {
    border-top: var(--portfolio-border);
}

.Transaction-Box-Button {
    padding: 3vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.Transaction-Box-Button-Input-Buy {
    display: flex;
    font-size: 11px;
    padding: 1.5vh 3vw;
    background-color: #21ce99;
    color: var(--color);
    border-radius: 4px;
    cursor: pointer;
}

.Transaction-Box-Button-Input-Buy:hover {
    box-shadow: 0px 0px 5px 1px #31ce99;    
}

.Transaction-Box-Button-Input-Sell {
    display: flex;
    color: black;
    font-size: 11px;
    padding: 1.5vh 3vw;
    background-color: #f45531;
    color: black;
    border-radius: 4px;
    cursor: pointer;
}

.Transaction-Box-Button-Input-Sell:hover {
 box-shadow: 0px 0px 5px 1px #f46531;
}



.Transaction-Number-Input {
    display: flex;
    justify-content: flex-end;
    background-color: var(--bg-color);
    color: white !important;
    border: none;
    text-align: right;
    width: 100px;
    font-size: 20px;
}
.Transaction-Box-Button-Input:hover {
    background-color: #1ae9aa;
}

.Transaction-Box-Buying-Power {
    padding: 2vh;
    border-top: 1px solid black;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    text-align: center;
}