.Watch-List-Items-Container {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    text-decoration: unset;
    list-style: none;
}

.Watch-List-Items-Item {
    padding-left: 2vw;
    padding-top: .5vw;  
    padding-bottom: .5vw;  
}

.Watch-List-Items-Item:hover {
    color: #21ce99;
}