.Watch-List-Items-Container {
    font-family: DIN Pro,-apple-system,BlinkMacSystemFont,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: normal;
    color: rgb(255, 255, 255);
    text-decoration: unset;
    list-style: none;
    cursor: pointer;

}

.Watch-List-Items-Item {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
}

.Watch-List-Items-Item:hover {
    color: #21ce99;
    background-color: #0e0d0d;
    cursor: pointer;
}